@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.hr{
    width: 80%;
    opacity: 0.3;
}
.container{
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 384px;
}
.hr1{
    width: 30%;
    opacity: 0.3;
}
h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: rgb(223, 168, 52);
    font-size: xxx-large;
}
p{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #2D4A3A;
    width: 56%;
    font-size: larger;
    text-align: center;
}
